/* How to add a custom css: https://docs.readthedocs.io/en/stable/guides/adding-custom-css.html */
@import 'theme.css'; 

a {
    font-weight:500;
    color:#1a4075;
    text-decoration:none
}

p a code{
    font-weight:400;
    color:#1a4075
}

.nav-links a.router-link-active,.nav-links a:hover{
    color:#1a4075
}

.vp-sidebar .toctree-l1 a.current,.vp-sidebar .toctree-l2 a.current{
    color:#1a4075;
    font-weight:600
}

.vp-sidebar .toctree-l1 a:hover,.vp-sidebar .toctree-l2 a:hover{
    color:#1a4075
}

.vp-sidebar .toctree-l1.current a{border-left:.5rem solid #aec2df}

.vp-sidebar .toctree-l1 a.current{border-left-color:#1a4075}

